<div class="contact-container">
    <div class="container">
        <div class="left">
            <h1 class="title">
                Let's create your project?<br />
                
            </h1>
            <p>
                Drop me a line and I will get back as soon as possible.
            </p>
            <br /><br />
            <button class="border-content">
                <a href="tel:+28535388">(639) 06 004 1501</a>
            </button>
            <br />
            <button class="border-content">
                <a href="mailto:cjcabalde04@gmail.com">cjcabalde04@gmail.com</a>
            </button>
            <br />
            <button class="border-content">
                <a target="_blank"
                    href="https://www.google.com/maps/place/Prisma+Residences+Astra+Tower+Main+Entrance/@14.5631907,121.0647749,17z/data=!3m1!4b1!4m6!3m5!1s0x3397c99d4ff99a0b:0xef4d41d5ad388c11!8m2!3d14.5631855!4d121.0673498!16s%2Fg%2F11schpclsj?entry=ttu">
                   Pasig City</a>
            </button>
        </div>
        <div class="right">
            <form action="#" method="post" novalidate>
                <div class="form-item">
                    <input class="input" type="text" placeholder="Full name*" name="fullname" required
                        maxlength="100" />
                </div>
                <div class="form-item">
                    <input class="input" type="email" placeholder="Email*" name="email" required maxlength="100" />
                </div>
                <div class="form-item">
                    <input class="input" type="text" placeholder="Phone*" name="phone" required maxlength="16" />
                </div>
                <div class="form-item">
                    <input class="input" type="text" placeholder="Company" name="company" maxlength="100" />
                </div>
                <div class="form-item">
                    <textarea class="input" rows="15" placeholder="How can we help you?"></textarea>
                </div>
                <div class="form-item">
                    <div class="button-container">
                        <button type="submit">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h1 class="question" data-aos="zoom-in-up">Your amazing idea, <br /> let's make it happen!</h1>
    <p data-aos="zoom-in-down">
        <center>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet</center>
    </p>
    <br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>