
.aos-containter{
    margin: 10vh auto 0 auto;

    .card{
        margin: 108px 0;
        border-radius: 24px;
        padding: 24px;
        background: #eee;
        height: 200px;
        width: 250px;
    }
}
