<div class="works-container">
    <h1 class="title">Our Works</h1>
   
    <div class="fibonnaci-grid" data-aos="zoom-in-up">
        <div class="left">
            <div class="card-top">
                [image]
            </div>
            <div class="card-bottom">
                [image]
            </div>
        </div>
        <div class="right">
            <div class="card-top">
                [image]
            </div>
            <div class="card-bottom">
                <div class="bottom-left">
                    [image]
                </div>
                <div class="bottom-right">
                    [image]
                </div>
            </div>
        </div>
    </div>
</div>